.footer {
	background-color: $dark-blue-grey;
	color: $white;
	font-size: 14px;
	padding: 15px;
	.copyright {
		padding: 10px;
		text-align: center;
		p {
			font-family: $roboto_bold;
			font-size: 14px;
		}
	}
	.social {
		padding: 10px;
		text-align: center;
	}
	.phone {
		padding: 0 10px 0 20px;
		position: relative;
 		a {
	 		background-image: url('../images/icn-phone.png');
	 		background-repeat: no-repeat;
	 		background-position: left center;
			color: $white;
			display: block;
			margin: 0 auto;
			max-width: 130px;
			padding: 10px;
			text-indent: 28px;
		}
	}
	.images {
		text-align: center;
		.footer-img {
			max-height: 40px;
			margin: 7px 0px;
		}
	}
}

@media #{$medium-up} {
	.footer {
		padding: 25px;
		.copyright {
			p {
				text-align: left;
			}
		}
		.phone {
	 		a {
		 		position: absolute;
		 		top: 50%;
//				left: 50%;
				transform: translate(-50%, -50%);
				left: 40%;
			}
		}
		.images {
			.footer-img {
				padding: 5px 0;
			}
		}
	}
}
@media #{$large-up} {
	.footer {
		padding: 25px;
		.copyright {
			p {
				text-align: left;
			}
		}
		.phone {
	 		a {
		 		position: absolute;
		 		top: 50%;
				transform: translate(-50%, -50%);
				left: 40%;
			}
		}
		.images {
			.footer-img {
				padding: 0;
			}
		}
	}
}