h1.alt, h2.alt, h3.alt, h4.alt, h5.alt, h6.alt {
	font-family: $roboto;
}
.button {
	font-family: $roboto_bold;
	font-size: 14px;
	margin-bottom: 0;
	padding: 12px 16px;
	text-transform: uppercase;
	transition: .3s;
	width: auto;
}
.twhite-button {
	background-color: transparent;
	border-radius: 2px;
	border: solid 2px $white;
	&:hover {
		background-color: $white_50;
	}
}

.tred-button {
	background-color: transparent;
	border-radius: 2px;
	border: solid 2px $scarlet;
	color: $scarlet;
	&:hover {
		background-color: $scarlet_50;
	}
}

.red-button {
	background-color: $scarlet;
	border-radius: 2px;
	&:hover {
		background-color: $white;
		color: $scarlet;
	}
}

.redline {
	background-color: $scarlet;
	float: left;
	height: 37px;
	margin-right: 8px;
	position: relative;
	width: 5px;
}
.ihredline {
	background-color: $scarlet;
	float: left;
	height: 26px;
	margin-right: 8px;
	position: relative;
	width: 5px;
}
.whiteline {
	background-color: $white;
	float: left;
	height: 37px;
	margin-right: 8px;
	position: relative;
	width: 5px;
}
@media #{$medium-up} {
	.ihredline {height: 34px;}	
}
@media #{$large-up} {
	.ihredline {height: 57px}
}