.home-hero-wrap {
	padding: 25px 15px 30px;
	.hh-content {
		h1 {
			color: $white;
			span {color: $scarlet;}
		}
		h5 { 
			color: $white;
			font-family: $roboto;
			margin: 7px 0 25px;
		}
		.buttons {
			.tred-button {margin-left: 10px;}
		}
	}
}
@media #{$medium-up} {
	.home-hero-wrap {
		padding: 50px 15px 55px;
	}
}
@media #{$large-up} {
	.home-hero-wrap {
		padding: 100px 0 115px;
		h5 {
			margin: 10px 0 50px;
		}
		.buttons {
			.tred-button {
				margin-left: 20px;
			}
		}
	}
}



.quick-cta-wrap {
	background-color: $dark-blue-grey;
	padding: 15px;
	position: relative;
	h4 { 
		color: $white;
		margin: 10px 0;
	}
	a {
		//left: 50%;
	}
}
@media #{$medium-up} {
	.quick-cta-wrap {
		a {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
		}	
	}
}
@media #{$large-up} {
	.quick-cta-wrap {}
}



.product-category-wrap {
	padding: 20px 15px 25px;
	h3 {
		padding: 0 15px;
		span {
			color: $scarlet;
		}
	}
	.pc-header {
		margin-bottom: 20px;
	}
	.pc-contain {
		display: inline-block;
		.p-cat {
			padding: 0 10px;
			.pc-inner {
				border: 2px solid $white2;
				margin-bottom: 5px;
				padding: 17px 20px;
				img {
					width: 100%;
				}
				h5 {}
				p {}
				a {
					display: block;
					font-family: $roboto_bold;
					text-align: right;
					text-transform: uppercase;
					transition: .3s;
					&:hover {
						color: $scarlet;
					}
				}
			}
		}
	}
}
@media #{$medium-up} {
	.product-category-wrap {
		padding: 30px 15px 40px;
		.pc-header {
			margin-bottom: 25px;
		}
	}
}
@media #{$large-up} {
	.product-category-wrap {
		padding: 62px 0 84px;
		.pc-header {
			margin-bottom: 30px;
		}
	}
}



.cert-wrap {
	background-color: $scarlet;
	padding: 25px 15px;
	.row {position: relative;}
	.ws {
		margin-bottom: 10px;
		text-align: center;
		h4 {
			color: $white;
		}
	}
	.is {
		text-align: center;
		img {
			margin: 3px 15px;
		}
	}
}
@media #{$medium-up} {
	.cert-wrap {
		padding: 50px 0;
		.ws {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);	
		}
		.is {}
	}
}
@media #{$large-up} {
	.cert-wrap {
		padding: 50px 0;
		.ws {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);	
		}
		.is {}
	}
}



.half-content-wrap {
	.row {position: relative;}
	.word-side {
		position: relative;
		.wscv {
			padding-top: 50px;
			h3 {
				margin-bottom: 15px;
				span {
					color: $scarlet;
				}
			}
			h5 {
				margin-bottom: 50px;
			}
			a {
				margin-bottom: 20px;
			}
		}	
	}
	.img-side {
		padding: 0;
		position: relative;
		text-align: center;
		img {
			height: 100%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);	
		}
	}
}
@media #{$medium-up} {}
@media #{$large-up} {
	.half-content-wrap {
		padding: 50px;
	}
}



.big-cta-wrap {
	background-position: center center;
	background-size: cover;
	padding: 25px 15px;
	h1 {
		color: $scarlet;
		span {
			color: $white;
		}
	}
	h6 {
		color: $white;
		margin-top: 5px;
	}
	a{
		margin: 20px 0;
	}
}
@media #{$medium-up} {
	.big-cta-wrap {
		padding: 50px 15px;
	}
}
@media #{$large-up} {
	.big-cta-wrap {
		padding: 110px 15px;
		a {
			margin: 50px 0 15px;
		}
	}
}



.inner-hero-wrap {
	background-position: center center;
	background-size: cover;
	padding: 20px 15px 15px;
	h1 {	
		margin: 0;
		span {
			color: $scarlet;
		}
	}
}
@media #{$medium-up} {
	.inner-hero-wrap {
		padding: 30px 15px 20px;
	}
}
@media #{$large-up} {
	.inner-hero-wrap {
		padding: 60px 15px 50px;
	}
}



.mcta-wrap {
	background-color: $white2;
	padding: 22px 15px 27px;
	.words {
		text-align: center;
		h5 {
			color: $scarlet;
			margin-bottom: 12px;
			span {
				color: $warm-grey2;
			}	
		}
	}
	.link {text-align: center;}
}
@media #{$medium-up} {
	.mcta-wrap {
		padding: 28px 15px 38px
	}
}
@media #{$large-up} {
	.mcta-wrap {
		padding: 38px 15px 58px;
		.words {text-align: left;}
	}
}



.guarantee-wrap {
	padding: 20px 15px;
	text-align: center;
	h5 {
		margin: 10px 0;
	}
}
@media #{$medium-up} {
	.guarantee-wrap {padding: 35px 15px;}
}
@media #{$large-up} {
	.guarantee-wrap {padding: 50px 15px;}
}



.half-wt-wrap {
	background-color: $scarlet;
	background-position: center center;
	padding: 30px 15px;
	.plain {
		h3{
			color: $white;
			margin: 0 0 15px 15px;
		}
		h6{
			color: $white;
			margin-left: 15px; 
		}
	}
	.testimonial {
		margin-top: 20px;
		text-align: center;
		h5 {
			color: $white;
			line-height: 1.5;
			font-style: italic;
		}
		h6 {
			color: $white;
		}
	}
}
@media #{$medium-up} {
	.half-wt-wrap {}
}
@media #{$large-up} {
	.half-wt-wrap {
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 50% 100%;
		padding: 75px 15px 95px;
		.plain-inner {
			width: 80%;
			margin: 0;
		}
		.testimonial-inner {
			width: 80%;
			margin: 0 0 0 auto;
		}
	}
}

.simple-content-wrap {padding: 20px 15px 15px;}
@media #{$medium-up} {.simple-content-wrap {padding: 35px 15px 20px;}}
@media #{$large-up} {.simple-content-wrap {padding: 50px 15px 25px;}}

.flex-content-wrap {
	.mc-side {
		h3 {
			margin-bottom: 15px;
		}
		p {margin-bottom: 10px;}
		a {
			background-color: transparent;
			border-radius: 2px;
			border: solid 2px $scarlet;
			color: $scarlet;
			display: inline-block;
			margin: 10px 0;
			padding: 12px 16px;
			&:hover {
				background-color: $scarlet_50;
			}
		}
	}
}
@media #{$medium-up} {}
@media #{$large-up} {
	.flex-content-wrap {
		padding: 50px 15px;
	}
}

.map-wrap {}
@media #{$medium-up} {}
@media #{$large-up} {}

.acinfo-wrap {
	padding: 20px 15px 35px;
	.acinfo {
		h5 {
			color: $scarlet;
		}
	}
}
@media #{$medium-up} {}
@media #{$large-up} {}
