/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/
/*********************
TOOLS
*********************/
/*********************
COLORS
*********************/
/*********************
TYPOGRAPHY
*********************/
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("../fonts/robotocondensed-bold.eot");
  src: url("../fonts/robotocondensed-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-bold.woff2") format("woff2"), url("../fonts/robotocondensed-bold.woff") format("woff"), url("../fonts/robotocondensed-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto_condensedregular';
  src: url("../fonts/robotocondensed-regular.eot");
  src: url("../fonts/robotocondensed-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/robotocondensed-regular.woff2") format("woff2"), url("../fonts/robotocondensed-regular.woff") format("woff"), url("../fonts/robotocondensed-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/*********************
CSS3 GRADIENTS.
*********************/
/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.button, .login #nav a, .login #backtoblog a {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;
  background-color: #2199e8;
  color: #ffffff; }
  [data-whatinput='mouse'] .button, [data-whatinput='mouse'] .login #nav a, .login #nav [data-whatinput='mouse'] a, [data-whatinput='mouse'] .login #backtoblog a, .login #backtoblog [data-whatinput='mouse'] a {
    outline: 0; }
  .button:hover, .login #nav a:hover, .login #backtoblog a:hover, .button:focus, .login #nav a:focus, .login #backtoblog a:focus {
    background-color: #1583cc;
    color: #ffffff; }
  .button.tiny, .login #nav a.tiny, .login #backtoblog a.tiny {
    font-size: 0.6rem; }
  .button.small, .login #nav a, .login #backtoblog a {
    font-size: 0.75rem; }
  .button.large, .login #nav a.large, .login #backtoblog a.large {
    font-size: 1.25rem; }
  .button.expanded, .login #nav a.expanded, .login #backtoblog a.expanded {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .button.primary, .login #nav a.primary, .login #backtoblog a.primary {
    background-color: #2199e8;
    color: #ffffff; }
    .button.primary:hover, .login #nav a.primary:hover, .login #backtoblog a.primary:hover, .button.primary:focus, .login #nav a.primary:focus, .login #backtoblog a.primary:focus {
      background-color: #147cc0;
      color: #ffffff; }
  .button.secondary, .login #nav a.secondary, .login #backtoblog a.secondary {
    background-color: #777;
    color: #ffffff; }
    .button.secondary:hover, .login #nav a.secondary:hover, .login #backtoblog a.secondary:hover, .button.secondary:focus, .login #nav a.secondary:focus, .login #backtoblog a.secondary:focus {
      background-color: #5f5f5f;
      color: #ffffff; }
  .button.success, .login #nav a.success, .login #backtoblog a.success {
    background-color: #3adb76;
    color: #ffffff; }
    .button.success:hover, .login #nav a.success:hover, .login #backtoblog a.success:hover, .button.success:focus, .login #nav a.success:focus, .login #backtoblog a.success:focus {
      background-color: #22bb5b;
      color: #ffffff; }
  .button.warning, .login #nav a.warning, .login #backtoblog a.warning {
    background-color: #ffae00;
    color: #ffffff; }
    .button.warning:hover, .login #nav a.warning:hover, .login #backtoblog a.warning:hover, .button.warning:focus, .login #nav a.warning:focus, .login #backtoblog a.warning:focus {
      background-color: #cc8b00;
      color: #ffffff; }
  .button.alert, .login #nav a.alert, .login #backtoblog a.alert {
    background-color: #ec5840;
    color: #ffffff; }
    .button.alert:hover, .login #nav a.alert:hover, .login #backtoblog a.alert:hover, .button.alert:focus, .login #nav a.alert:focus, .login #backtoblog a.alert:focus {
      background-color: #da3116;
      color: #ffffff; }
  .button.hollow, .login #nav a.hollow, .login #backtoblog a.hollow {
    border: 1px solid #2199e8;
    color: #2199e8; }
    .button.hollow, .login #nav a.hollow, .login #backtoblog a.hollow, .button.hollow:hover, .login #nav a.hollow:hover, .login #backtoblog a.hollow:hover, .button.hollow:focus, .login #nav a.hollow:focus, .login #backtoblog a.hollow:focus {
      background-color: transparent; }
    .button.hollow:hover, .login #nav a.hollow:hover, .login #backtoblog a.hollow:hover, .button.hollow:focus, .login #nav a.hollow:focus, .login #backtoblog a.hollow:focus {
      border-color: #0c4d78;
      color: #0c4d78; }
    .button.hollow.primary, .login #nav a.hollow.primary, .login #backtoblog a.hollow.primary {
      border: 1px solid #2199e8;
      color: #2199e8; }
      .button.hollow.primary:hover, .login #nav a.hollow.primary:hover, .login #backtoblog a.hollow.primary:hover, .button.hollow.primary:focus, .login #nav a.hollow.primary:focus, .login #backtoblog a.hollow.primary:focus {
        border-color: #0c4d78;
        color: #0c4d78; }
    .button.hollow.secondary, .login #nav a.hollow.secondary, .login #backtoblog a.hollow.secondary {
      border: 1px solid #777;
      color: #777; }
      .button.hollow.secondary:hover, .login #nav a.hollow.secondary:hover, .login #backtoblog a.hollow.secondary:hover, .button.hollow.secondary:focus, .login #nav a.hollow.secondary:focus, .login #backtoblog a.hollow.secondary:focus {
        border-color: #3c3c3c;
        color: #3c3c3c; }
    .button.hollow.success, .login #nav a.hollow.success, .login #backtoblog a.hollow.success {
      border: 1px solid #3adb76;
      color: #3adb76; }
      .button.hollow.success:hover, .login #nav a.hollow.success:hover, .login #backtoblog a.hollow.success:hover, .button.hollow.success:focus, .login #nav a.hollow.success:focus, .login #backtoblog a.hollow.success:focus {
        border-color: #157539;
        color: #157539; }
    .button.hollow.warning, .login #nav a.hollow.warning, .login #backtoblog a.hollow.warning {
      border: 1px solid #ffae00;
      color: #ffae00; }
      .button.hollow.warning:hover, .login #nav a.hollow.warning:hover, .login #backtoblog a.hollow.warning:hover, .button.hollow.warning:focus, .login #nav a.hollow.warning:focus, .login #backtoblog a.hollow.warning:focus {
        border-color: #805700;
        color: #805700; }
    .button.hollow.alert, .login #nav a.hollow.alert, .login #backtoblog a.hollow.alert {
      border: 1px solid #ec5840;
      color: #ec5840; }
      .button.hollow.alert:hover, .login #nav a.hollow.alert:hover, .login #backtoblog a.hollow.alert:hover, .button.hollow.alert:focus, .login #nav a.hollow.alert:focus, .login #backtoblog a.hollow.alert:focus {
        border-color: #881f0e;
        color: #881f0e; }
  .button.disabled, .login #nav a.disabled, .login #backtoblog a.disabled, .button[disabled], .login #nav a[disabled], .login #backtoblog a[disabled] {
    opacity: 0.25;
    cursor: not-allowed; }
    .button.disabled:hover, .login #nav a.disabled:hover, .login #backtoblog a.disabled:hover, .button.disabled:focus, .login #nav a.disabled:focus, .login #backtoblog a.disabled:focus, .button[disabled]:hover, .login #nav a[disabled]:hover, .login #backtoblog a[disabled]:hover, .button[disabled]:focus, .login #nav a[disabled]:focus, .login #backtoblog a[disabled]:focus {
      background-color: #2199e8;
      color: #ffffff; }
  .button.dropdown::after, .login #nav a.dropdown::after, .login #backtoblog a.dropdown::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 0.4em;
    border-color: #ffffff transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: relative;
    top: 0.4em;
    float: right;
    margin-left: 1em;
    display: inline-block; }
  .button.arrow-only::after, .login #nav a.arrow-only::after, .login #backtoblog a.arrow-only::after {
    margin-left: 0;
    float: none;
    top: -0.1em; }

body {
  font-family: 'source_sans_pro';
  line-height: 1rem; }

#login {
  padding-top: 15%; }

.login form {
  padding: 1rem 1rem 2rem 1rem;
  margin: 0; }

.login label {
  font-size: 16px; }

.login h1 a {
  background: url(../images/redfish-logo.png) no-repeat center center;
  width: 120px;
  height: 120px;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  background-size: cover; }

.login #nav, .login #backtoblog {
  width: 50%;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  float: left; }
  .login #nav a, .login #backtoblog a {
    background-color: #b4b4b4; }

#wp-submit {
  background-color: #669bd0;
  padding: 1.25rem 2rem;
  line-height: 0;
  text-shadow: none;
  font-family: 'source_sans_pro', arial;
  font-size: 1rem;
  border: 0;
  box-shadow: none;
  border-radius: 0; }
